div{
    height:100px;
    width:100px;
    background-color: aqua;
    border: 1px solid black;
}

.translated{
    transform: perspective(10px)translateZ(-5px);
}

.scaled{
    margin-left: 200px;
    transform: rotateZ(30deg);
    transform: perspective(250px) scaleZ(3) rotateX(15deg) rotateY(30deg);
}